h2{
    padding: 20px 0;
    background-color: black;
    color: white;
    text-align: center;
}
.profile{
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile div{
    margin: 0 50px;
}

#profile-pic{
    width: 200px;
    height: 200px;
    margin: 30px;
    border-radius: 50%;
}

.libro{
    display: flex;
    margin: 5% 10%;
    border: 1px solid black;
    background-color: #EEE;
    position: relative;
}

.book-cover{
    margin: 2%;
    height: 300px;
    width: 188.2px;
}

.title{
    font-size: x-large;
}

.author{
    position: absolute;
    top:50px;
    left: 250px;
}

.description{
    position: absolute;
    top:125px;
    left: 250px;
    margin-right: 50px;
    text-align: justify;
}

.price{
    font-size: 20px;
    font-style: italic;
    position: absolute;
    bottom: 0;
    right: 30px;
}

#empty{
    font-size: 40px;
    text-align: center;
}