<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Libreria Cervantes</title>
    <link rel="shortcut icon" href="../public/icon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kings&family=Work+Sans:ital,wght@1,600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6c41c17d75.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav> 
        <a href="index.html" class="logo-wrap">
            <img src="../public/header-logo.webp" alt="Logo Libreria" id="header-logo">
            <h1>
                Libreria Cervantes
            </h1>
        </a>

        <div id="links">
            <a href="" class="link">MENU PRINCIPAL</a>
            <a href="" class="link">CATALOGO</a>
            <a href="" class="link">COMPRAR</a>
            <a href="" class="link">COMENTARIOS</a>
            <a href="profile.php" class="link">PERFIL</a>
        </div>

        <div id="inicio-sesion">
            <h2>Iniciar sesion</h2>
            <form action="">
                <input type="text" name="user" id="user" placeholder="Usuario">
                <input type="password" name="password" id="password" placeholder="Contraseña">
            </form>
            <p>Aun no tienes cuenta? <a href="" style="text-decoration: underline;">Registrate</a></p>
        </div>
    </nav>

    <div id="background">
        <img src="../public/background.jpg" alt="Fondo" id="background-image">
        <div class="img-text">
            <p>El que lee mucho y anda mucho, <br> ve mucho y sabe mucho.</p>
            <p id="autor">-Miguel de Cervantes</p>
        </div>
    </div>

    <footer>
        <div class="logo-wrap">
            <a href="index.html">
                <img src="../public/footer-logo.png" alt="Logo Libreria" id="footer-logo">
                <h1>Libreria Cervantes</h1>
            </a>
        </div>
        <div>
            <h2>Nosotros</h2>
            <p>Somos una pequeña libreria situada en Donosti. Nos preocupamos de acercar la literatura a los lectores porque bien es sabido que la lectura es la pintura de la voz. Si te pica la curiosidad no dudes en contactarnos o acercarte a nuestra tienda.</p>
        </div>
        <div class="contact">
            <h2>Contacto</h2>
            <ul class="fa-ul">
                <li><span class="fa-li"><i class="fas fa-phone"></i></span>Tlf.: 639 940 385</li>
                <li><span class="fa-li"><i class="fas fa-map-marker-alt"></i></span>Calle San Martin, 68</li>
                <li><span class="fa-li"><i class="fas fa-clock"></i></span>Lun. - Vie. <br> 9:00-16:00</li>
                <li><span class="fa-li"><i class="fas fa-envelope"></i></span>lib-cervantes@contact.com</li>
            </ul>
        </div>

        <div class="social-media">
            <ul>
                <li><a href="https://www.facebook.com"><i class="fas fa-facebook"></i></a></li>
                <li><a href="https://www.twitter.com"><i class="fas fa-twitter"></i></a></i></li>
                <li><a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a></li>
            </ul>
        </div>
    </footer>
    
    
</body>
</html>